@page
@model WebWinkelIdentity.Web.Areas.Logistics.Pages.SuccesfullyAddedStockModel
@{
    ViewData["Title"] = "Succesfully added stock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Succesfully Added Stock!</h1>
